<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseConfigMenuItem" value="false"/>
    <add key="ReadFromFile" value="true"/>
    <add key="WriteToFile" value="true"/>
    <add key="MenuItem" value="2"/>
    <add key="InputFilePath" value="input.txt"/>
    <add key="OutputFilePath" value="output.txt"/>
  </appSettings>
</configuration>
